@model PagedList.IPagedList<ModelEF.Model.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    <link href="~/css/userpageView.css" rel="stylesheet" />
    Layout = "~/Views/_LayoutPageUser.cshtml";
}
<style>
    .body {
        padding-top : 0px;
    }
    .pagination-container ul li {
        display: inline;
        margin-right: 10px;
    }
</style>

@foreach (var item in Model)
{
    <div class="tong">
        <img src="@item.Image" alt="@item.Name">
        <p class="canh1">Tên: @item.Name</p>
        <p class="canh1">Giá: @item.UnitCost</p>
        <p class="canh1">Mô Tả: @item.Description</p>
    </div>
}
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
